# Jump to Python day1

In [1]:
a = 'Python'

In [2]:
print(a)

Python

### 줄바꿈

In [20]:
multiline = 'Life is too short\nYou need python'
print(multiline)

Life is too short
You need python

In [43]:
multiline2 = '''Life is too short
You need python
Hi'''
print(multiline2)

Life is too short
You need python
Hi

### Multistring

In [45]:
print('='*30)
print('My program')
print('='*30)

==============================
My program
==============================

### Indexing (파이썬은 0부터 센다)

In [46]:
a = 'Life is too short, You need Python'
a[3]

'e'

In [47]:
a[-1]

'n'

### Slicing

In [48]:
a = 'Life is too short, You need Python'
a[0:4]

'Life'

In [50]:
a[19:]

'You need Python'

In [51]:
a[19:-7]

'You need'

In [54]:
a = '20180105Rainy'
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20180105
Rainy

### 문자열 Formatting(s로 통일하는게 젤 편하긴 함)

In [58]:
'I eat %d apples.' % 3

'I eat 3 apples.'

In [59]:
'I eat %s apples' % 'five'

'I eat five apples'

In [64]:
number = 10
day = 'three'
"I ate %d apples. So I was sick for %s days." % (number, day)

'I ate 10 apples. So I was sick for three days.'

In [65]:
"%10s" % 'hi' #전체길이 10짜리에서 오른쪽 정렬

'        hi'

In [70]:
"%-10sjane." % 'hi' #책이랑 다름 전체길이 10 짜리가 아니라 jane제외 10임

'hi        jane.'

In [71]:
"%0.4f" % 3.4223451

'3.4223'

In [72]:
"%10.4f" % 3.4223451 #왼쪽의 숫자는 전체길이 의미

'    3.4223'

### 문자 관련 함수

In [73]:
a = 'hobby'
a.count('b')

2

In [79]:
a = 'Python is best choice' # 가장 처음 나오는 문자 찾음
a.find('b')

10

In [80]:
a.find('k') # 없을 시 -1 반환

-1

In [81]:
a = 'Python is best choice' # find와 동일 다만 없을 시 오류
a.index('b')

10

In [82]:
a =','          # join함수 뒤에 있는 문자열 사이에 a값을 삽입
a.join('abcd')

'a,b,c,d'

In [83]:
a = 'hi'
a.upper()

'HI'

In [84]:
a = 'HI'
a.lower()

'hi'

In [1]:
a = ' hi '  # 왼쪽 공백 지우기
a.lstrip()

'hi '

In [2]:
a = ' hi '  # 양쪽 공백 지우기
a.strip()

'hi'

In [3]:
a = 'Life is too short'       # 문자열 바꾸기
a.replace('Life', 'Your leg')

'Your leg is too short'

In [4]:
a = 'Life is too short' # 문자열 나누기
a.split()

['Life', 'is', 'too', 'short']

In [7]:
a = 'a:b:c:d' # ()안의 문자 기준으로 나눔
a.split(':')

['a', 'b', 'c', 'd']

### 고급 문자열 포맷팅

In [8]:
'I eat {0} apples'.format(3)

'I eat 3 apples'

In [9]:
'I eat {0} apples'.format('five')

'I eat five apples'

In [10]:
number = 3
'I eat {0} apples'.format(number)

'I eat 3 apples'

In [11]:
number = 8     # 두 개이상 값 넣기
day = 'three'
'I ate {0} apples. So I was sick for {1} days'.format(number, day)

'I ate 8 apples. So I was sick for three days'

In [12]:
'I ate {number} apples. So I was sick for {day} days'.format(number = 8, day = 'three') # 바로 이름으로 가능(당연 혼합도 가능)

'I ate 8 apples. So I was sick for three days'

In [13]:
'{0:<10}'.format('hi')  # 총 10자리수, 왼쪽 정렬

'hi        '

In [14]:
'{0:>6}'.format('hi')  # 총 6자리수, 오른쪽 정렬

'    hi'

In [15]:
'{0:^8}'.format('hi') # 총 8자리수, 가운데 정렬

'   hi   '

In [16]:
'{0:!<8}'.format('hi') # 총 8자리수, 왼쪽 정렬, 공백을 !표로 대체

'hi!!!!!!'

In [17]:
y = 3.141592        # 소수점 표현, 4째자리까지
'{0:0.4f}'.format(y)

'3.1416'

In [18]:
y = 3.141592        # 소수점 표현, 4째자리까지, 총 8자리
'{0:8.4f}'.format(y)

'  3.1416'